# package directories
node_modules
jspm_packages

# OSX BS
.DS_Store
**/.DS_Store

api/.serverless
render/.serverless
.vscode

# build files
client/public/*.html
client/public/*.css
client/public/*.js
client/.webpack
render/.webpack
