@import './reset.css';

* + * {
    margin-top: 1.5em !important;
}

body {
    font-family: 'Fira Code', monospace;
    text-align: center;
}
button {
    font-family: 'Fira Code', monospace;
    padding: 10px;
    background: #fff;
    border-radius: 3px;
}
button:hover,
button:focus {
    background: #ccc;
}
